*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button{
    margin: 1rem;
    padding: 1rem;
    background-color: burlywood;
    border: 2px solid lightblue;
    color: blue;
    font-size: 1rem;
    border-radius: .5rem;
    

}